<!-- Pie de Pagina -->
<footer class="footer-seccion pt-5 pb-4" id="footer-componente">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-5 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Sobre la fundación</h5>
                <hr class="mb-4">
                <p class="footer-subtitulo">La Fundación Jaimes Chía trabaja para mejorar la vida de nuestra
                    comunidad a través de programas
                    sociales transformadores.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Enlaces</h5>
                <hr class="mb-4">
                <p><a class="footer-enlace" href="https://fundacionjaimeschia.netlify.app">Inicio</a></p>
                <p><a class="footer-enlace" href="./conocenos.html">Conócenos</a></p>
                <p><a class="footer-enlace" href="./nuestrosproyectos.html">Nuestros Proyectos</a></p>
                <p><a class="footer-enlace" href="./blog.html">Blog</a></p>
                <p><a class="footer-enlace" href="./contacto.html">Contactos</a></p>
                <!-- <p><a class="footer-enlace" href="#">¡Haz tu donación!</a></p> -->
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Legalidad</h5>
                <hr class="mb-4">
                <p><a class="footer-enlace" href="#">Privacidad</a></p>
                <p><a class="footer-enlace" href="#">Términos</a></p>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="text-center mb-2">
        <p class="footer-derechos">© 2024 Fundación Jaimes Chía. Todos los derechos reservados.</p>
    </div>
</footer>
<!-- Fin de Pie de Pagina -->