@import url(style.css);
/* ------------------------------------Inicio de Estilos Pie de Pagina Seccion------------------- */

.footer-seccion {
    background: #D31027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-titulo {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.footer-subtitulo {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
}

.footer-enlace,
.footer-contenido {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
}

.footer-enlace:hover {
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}

.footer-seccion hr {
    color: #FFFFFF;
}

.footer-derechos {
    color: #FFFFFF;
    font-size: 12px;
    font-style: italic;
}

