<footer class="footer-seccion pt-5 pb-4" id="footer-componente">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-5 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Sobre la fundación</h5>
                <hr class="mb-4">
                <p class="footer-subtitulo">La Fundación Jaimes Chía trabaja para mejorar la vida de nuestra comunidad a través de programas sociales transformadores.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Enlaces</h5>
                <hr class="mb-4">
                <p><a class="footer-enlace" href="https://fundacionjaimeschia.netlify.app" title="Ir a la página de inicio">Inicio</a></p>
                <p><a class="footer-enlace" href="./conocenos.html" title="Conoce más sobre la fundación">Conócenos</a></p>
                <p><a class="footer-enlace" href="./nuestrosproyectos.html" title="Descubre nuestros proyectos">Nuestros Proyectos</a></p>
                <p><a class="footer-enlace" href="./blog.html" title="Explora nuestro blog">Blog</a></p>
                <p><a class="footer-enlace" href="./contacto.html" title="Encuentra nuestras opciones de contacto">Contacto</a></p>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4">
                <h5 class="footer-titulo">Legalidad</h5>
                <hr class="mb-4">
                <p><a class="footer-enlace" href="#" title="Política de privacidad">Privacidad</a></p>
                <p><a class="footer-enlace" href="#" title="Términos y condiciones">Términos</a></p>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div class="text-center mb-2">
        <p class="footer-derechos">© 2024 Fundación Jaimes Chía. Todos los derechos reservados.</p>
    </div>
</footer>
