<nav class="navbar navbar-expand-lg" id="navbar-componente">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="./index.html" title="Ir a la página de inicio">
            <img src="./assets/images/inicio/navegacion/logo_fundacion_1.jpg" class="img-fluid logo-fundacion" alt="Logo de la Fundación Jaimes Chía"></a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title eslogan-fundacion" id="offcanvasNavbarLabel">Trabajando para la comunidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 tracking-in-expand-fwd">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" aria-current="page" href="./index.html" title="Ir a la página de inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="./conocenos.html" title="Conoce más sobre la fundación">Conócenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="./nuestrosproyectos.html" title="Descubre nuestros proyectos">Nuestros proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="./blog.html" title="Explora nuestro blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="./contacto.html" title="Encuentra nuestras opciones de contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Mostrar menú de navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
