@import url(style.css);

/* Estilos generales para el botón de accesibilidad */
#accessibility-button {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #020873;
    color: #FFFFFF;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: right 0.5s ease;
    border-radius: 50%;
}

#accessibility-button:hover {
    background-color: #010661;
}

#accessibility-button i {
    font-size: 20px;
}

/* Estilos para el panel de accesibilidad */
.accessibility-panel {
    position: fixed;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    border: 1px solid #2793F2;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    align-items: center;
    padding: 5px;
    transition: right 0.5s ease;
}

.accessibility-panel button {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accessibility-panel button:hover {
    background-color: #F0F0F0;
}

.accessibility-panel button i {
    font-size: 12px;
    margin-right: 8px;
}

/* Estilos para el texto en los botones */
.accessibility-panel button span {
    font-size: 12px;
    color: #000000;
    margin-left: 8px;
}

/* Mostrar el panel cuando esté activo */
.accessibility-panel.active {
    right: 1px;
}

/* Mover el botón cuando el panel esté activo */
#accessibility-button.active {
    right: 190px;
}

/* Estilos para el botón de traducción */
#translate-button {
    position: fixed;
    top: 75%;
    right: 0;
    z-index: 1000;
}

#translate {
    background-color: #020873;
    color: #FFFFFF;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease;
    border-radius: 50%;
}

#translate:hover {
    background-color: #010661;
}

/* Estilos para las opciones de traducción */
.translate-options {
    position: absolute;
    bottom: 0;
    right: calc(100% + 10px);/* Ajusta la posición de las opciones */
    background-color: #FFFFFF;
    border: 1px solid #2793F2;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;/* Comienza oculto */

}

.translate-option {
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    margin: 0 2px;
    padding: 2px;
    transition: background-color 0.3s ease;
}

.translate-option:hover {
    background-color: #f0f0f0;
}

.translate-option img {
    width: 18px;
    height: auto;
}