<div class="social-redes" id="social-componente">
  <a class="redes-sociales-boton red-social-facebook" href="https://www.facebook.com/fundacionjaimeschiaoficial" target="_blank" aria-label="Facebook" title="Visitar nuestra página en Facebook">
      <i class="fa-brands fa-facebook redes-sociales-logo" aria-hidden="true"></i>
  </a>
  <a class="redes-sociales-boton red-social-whatsapp" href="https://wa.me/+573203678877?text=¡Hola! Quiero ser parte del cambio y ayudar a la Fundación Jaimes Chía a transformar vidas. ¿Puedes proporcionarme más información?" target="_blank" aria-label="Whatsapp" title="Contactar por Whatsapp">
      <i class="fa-brands fa-whatsapp redes-sociales-logo" aria-hidden="true"></i>
  </a>
  <a class="redes-sociales-boton red-social-instagram" href="#" aria-label="Instagram" title="Visitar nuestra página en Instagram">
      <i class="fa-brands fa-instagram redes-sociales-logo" aria-hidden="true"></i>
  </a>
  <a class="redes-sociales-boton red-social-youtube" href="#" aria-label="Youtube" title="Visitar nuestro canal en Youtube">
      <i class="fa-brands fa-youtube redes-sociales-logo" aria-hidden="true"></i>
  </a>
</div>
